
.storleden-module{
    button:hover{
        background-color: #3199c9;        
        border-color: #3199c9;
        transition:1s;        
    }
    a:hover{
    	text-decoration: none;
    }	
	button{
		margin: 47px 0px 32px 0px;
		background-color: #00c7fc;    	
    	padding: 10px 20px 10px 20px;
        border-radius: 39px;
        font-size: 18px;
	}
	button:hover{
		margin: 47px 0px 32px 0px;
	    background-color: #34adce;
	    padding: 10px 20px 10px 20px;
        border-radius: 39px;
	    border-color: #34adce;
        font-size: 18px;		
	}
}

.title_arrow{
    display: block  !important;
    margin: -1px auto !important;
    width: 30px !important;  
}
