#textslider {
	color:white;
	.carousel-indicators {
    //left: 57%;
	}
	.carousel-inner{
		height: 177px; 
		background: radial-gradient(circle,rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95), #000000);
	}
	a {
		color: white;

	}
	a:hover{
		    color: #00c6fb;
    		text-decoration: none;
	}
	.carousel-indicators .active {    
    	background-color: #00c7fc;
	}
	.carousel-indicators li {    
    	border: 1px solid #00c7fc;    
	}

	img{
		
    	width: 130px;
    	margin-top: 17px;
	}
	.else{

		.item-text{
			text-align: center;
		}
		.col-sm-9{
			width: 100%;
			text-align: center;
		}

	}
	@media screen and (max-width: 777px) {

		
			.col-sm-3 {
				img{
					//display: none;
				}
				        display: inline-block;
				        margin-left: 1%;

			}
			.col-sm-9{
				position: absolute;
			    display: inline-block;
   	
		    
			}
			
		
	}
	@media screen and (max-width: 500px) {
		h3{
			font-size: 14px;
		}
		.item-text{
			font-size: 12px;
		}
	}
} //end of .slider

.item-text{
	
	text-align: left;
	text-justify: inter-word;
	overflow: hidden;
    height: 64px; 
}

.inner{
	width: 667px;
	display:table;
	margin:auto;
}

