<div class=" effect-title">
	<div class="page-title ">
		<div {{ attributes }}>
		  {%- for item in items -%}
		    {{ item.content }}
		  {%- endfor -%}
		</div>
		<hr>
		<img src="/{{ directory }}/images/icons/heading-arrow.png" class="title-arrow">
	</div>
</div>