
<div id="referenser" class="container referenser block">

	<div class="referenser-title effect-title">
		<h3>REFERENSER</h3>
		<hr>
		<img src="{{ title_arrow }}" class="title_arrow">
	</div>
	<div  class="referencesWrapper " style="width: 100%">

		{% for pictureURL in picture %}
			{% if  pictureURL %}
				<div class="aligner left" >
					<img src="{{ pictureURL }}"></img>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>