.layout-main-wrapper{
	min-height: 1000px;
}
body, span, div, h2, h3{
	font-family: raleway;
}
p{
	font-family: Open sans;
}



.region-content{
	margin-top:120px;
}

.block-page-title-block{
	text-align: center;
	
}

.node__content{
	padding:0% 5% 0% 5%;
	.field--name-field-ingress{
		display: table;
    	margin: auto;
	    margin-bottom: 54px;
    	margin-top: -23px;
    	text-align: center;
	}
	.field--type-image{
		width: 99%;
	}
	img{
	    display: block !important;
	    margin: 0 auto !important;
    	width:50%;
    	margin-bottom: 25px;
	}
	.field__label{
		display: none;
	}
}

.kontakt-for-test{
	input{		
		border:none;
		border-bottom: 1px solid #ccc;
		margin-right: 10%;
	}	
	
}

.page-title{
	font-size: 35px;
	text-align:center;
	display:table;
	margin:auto;
	hr{
		
	    margin-top: 10px;
	    border-top: solid #0cf;
	}
}


.node--type-tjanster{
	img{
		width: 25%;
	}
}


.title{
	display: table;
	margin: 20px auto;
	text-transform:uppercase;
	hr{
		
	    margin-top: 0px;
	    border-top: solid #0cf;
	}
}

.kontakt-page{
	div{
		margin-top: 3px;
	}
}



button:hover{
    background-color: #34adce;        
    border-color: #34adce;
    transition:1s;        
}




.node-ingress{
	width: 50%;
    display: table;
    margin: auto;
    text-transform: uppercase;
}

a, a.link {
    text-decoration: none;
    border-bottom: none;
}

a:hover, a:active, a:focus, .link:hover, .link:active, .link:focus {
    text-decoration: none;
    border-bottom-style: none;
}



.top.glyphicon{
	
    position: fixed;
    color: #00c7fc;
    margin-top: 41%;
    z-index: 99999;
    font-size: 40px;
    right: 40px;
    display: none;

}

.title-arrow{
	display: inline-block !important;
    margin: 0px auto !important;
    width: 30px !important;
    margin-top: -27px  !important;
}
hr{
	margin-bottom: 0px !important;
}
.not-effect{
	.effect-title{
		display: table !important;
	}
}

@media screen and (min-height: 600px) {
  .top.glyphicon{
    	margin-top: 500px;    
	}


}

@media screen and (min-height: 700px) {
  .top.glyphicon{
    	margin-top: 600px;    
	}
}

@media screen and (max-height: 700px) and (max-width: 360px) {
  .top.glyphicon{
    	margin-top: 600px;    
	}
}

@media screen and (min-height: 900px) {
  .top.glyphicon{
    	margin-top: 800px;    
	}

}

@media screen and (min-height: 1070px) {
  .top.glyphicon{
    	margin-top: 1000px;    
	}
}
@media screen and (min-height: 1100px) {
  .top.glyphicon{
    	margin-top: 1050px;    
	}
}


